<%- include("partials/title.ejs") %>

<body>
    <%- include("partials/header.ejs") %>
    <div class="container py-5">
        <h1>Contact Details</h1>
        <p class="pt-5">Address: Somewhere in the Philippines</p>
        <p>Email: blogapp@blogapp.com</p>
        <p>Phone: (001) 123-456789</p>
    </div>
    <%- include("partials/footer.ejs") %>
</body>
</html>